/*--------------------PAGE STUDIO-------------------------*/

:root {
    --title-text-color: #212121 ;
    --primary-text-color: #757575;
    --logo-text-color: #FFFFFF;
    --acent-color:#2196F3;
    --header-logo:#000000;
    --background-color: #2F303A;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 14px;
letter-spacing: 0.03em;
color: var(--title-text-color);
background-color:var(--logo-text-color);
}

.list {
list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

/* ---------------------------HEADER---------------------- */

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--header-logo);
}

.header-list {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

}

.header-item a:hover,
.header-item a:focus {
   color: var(--acent-color);
}

.current {
    color: var(--acent-color);
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
color: var(----primary-text-color);
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
color: var(--primary-text-color);
}

/* --------------------------HERO ---------------------------*/

.hero {
    background-color: var(--background-color);
}

.hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--logo-text-color);
}

.text-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--acent-color);
    cursor: pointer;
}

.text-btn:hover,
.text-btn:focus {
    background-color: #188CE8;
}

/* --------------------------ПРЕИМУЩЕСТВА ---------------------------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantage-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.advantage-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*--------------ЧЕМ МЫ ЗАНИМАЕМСЯ-----------------*/

.doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/*--------------НАША КОМАНДА-----------------*/
.team {
    background-color: #F5F4FA;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-worker {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/*--------------FOOTER-----------------*/

.footer {
    background-color: var(--background-color);
}

.footer-logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--logo-text-color);
}

.footer-adress {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--logo-text-color);
}

.footer-mail {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

/*----------------------PAGE PORTFOLIO----------------*/

.btn-portfolio {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
background-color:  #2196F3;
}

.text-bt-portfolio {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--title-text-color);
}

.text-btn-portfolio:hover,
.text-btn-portfolio:focus {
    color: var(--logo-text-color);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}